In [1]:
import requests
import pandas as pd
import hashlib
import time
from pprint import pprint

In [3]:
private_key = str(input("Input Private Key: "))
public_key = str(input("Input Public Key: "))

Input Private Key: 69b650321683071b76e2efd65d5c6f91ebf26200
Input Public Key: 2fa0da01bf13cd7322443828e55ba972

In [4]:
def get_marvel_dataframe(public_key, private_key, number_of_characters, start_string = ""):
    if(number_of_characters > 100):
        raise Exception('Please specify number of characters less than or equal to 100.')
        
    if (private_key == "" or public_key == ""):
        raise Exception('Please provide a valid private and a public key')
        
    t = time.strftime('%Y%d%m%H%M%S')
    
    m = hashlib.md5()
    m.update("{}{}{}".format(t, private_key, public_key).encode('utf-8'))
    hash = m.hexdigest()
    
    if(start_string == ""):
        response = requests.get('https://gateway.marvel.com:443/v1/public/characters?apikey={}&ts={}&hash={}&limit={}'.format(public_key, t, hash, number_of_characters))
    else:
        response = requests.get('https://gateway.marvel.com:443/v1/public/characters?apikey={}&ts={}&nameStartsWith={}&hash={}&limit={}'.format(public_key, t, start_string, hash, number_of_characters))
    
    raw_data = response.json()
        
#     print(raw_data)
    
    character_info = []
    for character in raw_data['data']['results']:
        character_info.append([character['name'], character['comics']['available'], character['events']['available'], 
                               character['series']['available'], character['stories']['available'], character['id']])
        
    marvels_database = pd.DataFrame(character_info, columns = ['name', 'number_of_comics', 'number_of_events',
                                                               'number_of_series', 'number_of_stories', 'character_id'])
    
    return marvels_database

In [5]:
def filter_character_name(dataframe, column, check):
    return dataframe[dataframe[column] == check]

def filter_numeric_data(dataframe, column, more_than, less_than):
    return dataframe[(dataframe[column] > more_than) & (dataframe[column] < less_than)]

In [9]:
avengers = get_marvel_dataframe(public_key, private_key, 50, 'Iron')
avengers

,name,number_of_comics,number_of_events,number_of_series,number_of_stories,character_id
0,Iron Cross Army,0,0,0,0,1011379
1,Iron Fist (Bei Bang-Wen),6,0,3,10,1011318
2,Iron Fist (Danny Rand),396,11,114,453,1009367
3,Iron Fist (Orson Randall),14,0,6,14,1010888
4,Iron Fist (Quan Yaozu),1,0,1,1,1011413
5,Iron Fist (USM),0,0,0,0,1016839
6,Iron Fist (Wu Ao-Shi),2,0,1,3,1011412
7,Iron Lad,17,0,6,16,1010704
8,Iron Man,2617,31,647,3943,1009368
9,Iron Man (Iron Man 3 - The Official Game),0,0,0,0,1017320
10,Iron Man (LEGO Marvel Super Heroes),0,0,0,0,1017294
11,Iron Man (Marvel Heroes),0,0,0,0,1017310
12,Iron Man (Marvel War of Heroes),0,0,0,0,1017326
13,Iron Man (Ultimate),76,0,28,92,1010935
14,Iron Man/Tony Stark (MAA),0,0,0,0,1017104
15,Iron Monger,0,0,0,0,1009371
16,Iron Patriot,6,3,5,7,1009487
17,Iron Patriot (James Rhodes),76,4,28,100,1009538
18,Ironclad,0,0,0,0,1010844
19,Ironheart (Riri Williams),83,1,28,84,1017831

In [10]:
avengers = get_marvel_dataframe(public_key, private_key, 30)
avengers

,name,number_of_comics,number_of_events,number_of_series,number_of_stories,character_id
0,3-D Man,12,1,3,21,1011334
1,A-Bomb (HAS),4,0,2,7,1017100
2,A.I.M.,52,0,34,54,1009144
3,Aaron Stack,14,0,3,27,1010699
4,Abomination (Emil Blonsky),54,1,27,64,1009146
5,Abomination (Ultimate),2,0,2,3,1016823
6,Absorbing Man,96,4,48,109,1009148
7,Abyss,8,1,3,8,1009149
8,Abyss (Age of Apocalypse),3,1,3,2,1010903
9,Adam Destine,0,0,0,0,1011266
10,Adam Warlock,188,8,82,217,1010354
11,Aegis (Trey Rollins),0,0,0,0,1010846
12,Aero (Aero),28,0,5,28,1017851
13,Agatha Harkness,20,0,10,24,1012717
14,Agent Brand,29,0,7,33,1011297
15,Agent X (Nijo),18,0,3,23,1011031
16,Agent Zero,29,0,10,31,1009150
17,Agents of Atlas,45,1,13,52,1011198
18,Aginar,0,0,0,0,1011175
19,Air-Walker (Gabriel Lan),4,1,3,3,1011136
20,Ajak,4,1,1,8,1011176
21,Ajaxis,0,0,0,0,1010870
22,Akemi,0,0,0,0,1011194
23,Alain,0,0,0,0,1011170
24,Albert Cleary,0,0,0,0,1009240
25,Albion,1,0,1,1,1011120
26,Alex Power,18,0,6,25,1010836
27,Alex Wilder,9,0,4,9,1010755
28,Alexa Mendez,0,0,0,0,1011214
29,Alexander Pierce,1,0,1,1,1009497

In [12]:
filter_character_name(avengers, 'name', 'Aginar')

,name,number_of_comics,number_of_events,number_of_series,number_of_stories,character_id
18,Aginar,0,0,0,0,1011175

In [13]:
filter_numeric_data(avengers, 'number_of_comics', 20, 100)

,name,number_of_comics,number_of_events,number_of_series,number_of_stories,character_id
2,A.I.M.,52,0,34,54,1009144
4,Abomination (Emil Blonsky),54,1,27,64,1009146
6,Absorbing Man,96,4,48,109,1009148
12,Aero (Aero),28,0,5,28,1017851
14,Agent Brand,29,0,7,33,1011297
16,Agent Zero,29,0,10,31,1009150
17,Agents of Atlas,45,1,13,52,1011198